body {
    font-family: Merriweather,Baskerville,Libre Baskerville,Georgia,serif;
    padding-left: 20vw;
    padding-right: 20vw;
    font-weight: 400;
    font-size: 15.6px;
    word-break: break-word;
    line-height: 27.3px;
}

p {
    max-width: 600px;
}